:root {
    --one: #F70000;
    --two: #B93737;
    --three: #AA0000;
    --four: #F74A4A;
    --five: #780000;
    --six: #FFFFFF;
    --seven: #333333;
}

/* Fonts:
font-family: 'Roboto', sans-serif;
font-family: 'Lora', serif;
*/

a {
    color: var(--three)
}


body {
    color: var(--seven);
    font-family: 'Roboto', sans-serif;
}


h1, h2, h3, h4, h5, h6 {
    color: var(--three);
    font-family: 'Lora', serif;
}

a {
    color: var(--one);
}

a:hover {
    color: var(--five);
    text-decoration: none;
}

.indextitle {
    color: var(--six);

}
/*h3 {
    font-family: 'Lora', serif;
    color: var(--six);
}*/
li {
    list-style: none;
}

footer {
    color: var(--three);
}

nav li {
    color: var(--three);
}

.bg-red {
    background-color: var(--five);
}
.bg-red2 {
    color: var(--four);
}
.background {
    background: url('../img/DON-crash-02_2048x.jpg');
    background-size: cover;
    height: 75%;
}

.home-banner {
    background-color: var(--three);
    padding: 7px;
}

.overlay{
    background-color: rgba(0,0,0,0.5)
}

/*.jumbotron {
    background: url('../img/DON-crash-02_2048x.jpg');
    background-size: cover;
    height: 75%;
    opacity:.5;
}*/
dd, dt {
    font-size: 20px;
}

.inline-stuff {
    display: inline;
}
/*.border-bottom {
    border-color: var(--three);
}

.card-header {
    background-color: var(--three);
    color: var(--six);
}

.card {
    border-color: var(--three);
    border-width: 0.5px;
}*/

.card-text {
    color: var(--seven);

}
.card h4 {
    color: var(--seven);
}

.btn-outline-primary,
.btn-outline-primary:active, .btn-outline-primary:visited, .btn-sm {
    background-color: var(--six) !important;
    border-color: var(--four) !important;
    color: var(--four) !important;
}

.btn-outline-primary:hover {
    background-color: var(--four) !important;
    color: var(--six) !important;
}

.btn-success,
.btn-success:active, .btn-success:visited, .btn-sm {
    background-color: var(--three) !important;
    color: var(--six) !important;
}

.btn-success:hover {
    background-color: var(--six) !important;
    border-color: var(--three) !important;
    color: var(--three) !important;
}

.btn-outline-success,
.btn-outline-success:active, .btn-outline-success:visited, .btn-sm {
    background-color: var(--six) !important;
    border-color: var(--one) !important;
    color: var(--one) !important;
}

.btn-outline-success:hover {
    background-color: var(--one) !important;
    color: var(--six) !important;
}

.btn-outline-danger,
.btn-outline-danger:active, .btn-outline-danger:visited {
    border-color: var(--five) !important;
    color: var(--five) !important;
    background-color: var(--six) !important;
}

.btn-outline-danger:hover {
    background-color: var(--five) !important;
    color: var(--six) !important;
}

/*.cart-bar {
    color: var(--six);
    background-color: var(--five);
}

.cart {
    background-color: var(--six);
}

.bg-admin {
    background-color: var(--five);
}

.bg-admin2 {
    background-color: var(--three);
}

.btn-admin2 {
    border-color: var(--three) !important;
    color: var(--three) !important;
}

.btn-admin2:hover {
    background-color: var(--three) !important;
    color: var(--six) !important;
    border-color: var(--five) !important;
}

th, td {
    color: var(--four);
}

.login-bg {
    background-color: #f2f2f2;
}*/

#menuToggle {
    display: block;
    position: relative;
    top: 50px;
    left: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

    #menuToggle a {
        text-decoration: none;
        color: #232323;
        transition: color 0.3s ease;
    }

        #menuToggle a:hover {
            color: tomato;
        }


    #menuToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0;
        z-index: 2; 

        -webkit-touch-callout: none;
    }


    #menuToggle span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #cdcdcd;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
    }

        #menuToggle span:first-child {
            transform-origin: 0% 0%;
        }

        #menuToggle span:nth-last-child(2) {
            transform-origin: 0% 100%;
        }


    #menuToggle input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
    }

        #menuToggle input:checked ~ span:nth-last-child(3) {
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2);
        }


        #menuToggle input:checked ~ span:nth-last-child(2) {
            transform: rotate(-45deg) translate(0, -1px);
        }


#menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;


    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

    #menu li {
        padding: 10px 0;
        font-size: 22px;
    }

#menuToggle input:checked ~ ul {
    transform: none;
}
