@{
}

@model IEnumerable<int>

<div class="container">
    @*<div class="col">
        
    </div>*@

    <div class="row">
        <h4>Filter by Crash Severity:</h4>
        @*<div class="col">
            
        </div>*@
        <div class="col">
            <a asp-controller="Home" asp-action="Accidents" asp-route-accidentFilter="" asp-route-pageNum="1" class="btn btn-outline-primary m-1">All</a>
            @foreach (int f in Model)
            {
                <a asp-controller="Home" asp-action="Accidents" asp-route-accidentFilter="@f" asp-route-pageNum="1"
                   class="btn m-1 btn-outline-danger">@f</a>
            }
        </div>
    </div>
</div>


