@{
    ViewData["Title"] = "Accidents Summary";
}

@model CrashViewModel
    <div class="container col-10">
        <div class="">
            <div class="m-1 p-1">

                <div class="text-white">
                    <h2>Accident Summary</h2>
                    <vc:filter></vc:filter>
                </div>

                <div>
                    <table class="table table-responsive-sm table-striped table-hover">
                        <thead>
                            <tr class="table-light">
                                <th>Crash Time</th>
                                <th>Route</th>
                                <th>Main Road</th>
                                <th>City</th>
                                <th>County Name</th>
                                <th>Crash Severity</th>
                                <th>Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Crash c in Model.Crashes)
                            {
                                <tr>
                                    <partial name="AccidentSummary" model="c" />
                                </tr>

                            }

                        </tbody>
                    </table>

                    <div>
                        Page @ViewBag.pageNumber of @Model.PageInfo.TotalPages
                    </div>
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group me-2" role="group" aria-label="First group" page-model="@Model.PageInfo" page-action="Accidents">
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>








