@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container col-8 text-left"><br />
    <h2 class="display-5 modal-header">Wrong Way Crash Prevention | Utah</h2>

    <div class="">
        <br />
        <p>
            Welcome to the Utah Wrong-Way Crash Prevention info center.<br />
            This site is a repository for Utah crash/roadway incident data from 2016-2019.
            By following the “Accident Summary” tab, you will view the entire database. You
            will be able to filter this database by crash severity. With proper administrative
            credentials, you are permitted to edit and delete these entries, or even create a
            new record. Additionally, user registration features allow you to login as a user,
            and for added security, set up 2FA.
        </p>
    </div>
</div>
</div>
