@page "/admin"

@model INTEX_2.Pages.Admin.IndexModel

@{
}

<!DOCTYPE html>

<html>

<head>
    <title>ATBooks Admin</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <base href="/" />
</head>

<body>

    @*<h2>Break it down? That's hand-carved mahogany</h2>*@
    <component type="typeof(INTEX_2.Pages.Admin.Routed)" render-mode="Server" />
    <script src="/_framework/blazor.server.js"></script>

</body>

</html>